
.clsLeftContainer .nav a {
    color:#fff;
}
.clsLeftContainer .nav a:hover {
    color: #0dba4b !important;
}
.clsLeftContainer .accordion-header button {
    background: #0f2b3c !important;
    font-size: 20px;
    color: #fff;
    border: none;
}
.clsLeftContainer .nav .active {
    color: #0dba4b !important;
}
.clsWidth20{
    width: 20% !important;
}
.clsRightContainer {
    min-height: 600px;
    max-height: 900px;
    overflow: auto;
    margin: 0 auto;
    padding: 50px 50px !important;
}
.clsLeftContainer {
    background: #0f2b3c !important;
    width: 20%;
}
.clsTemplateImg {
    display: inline-block;
    width: 40% !important;
}
.clsTemplateImg button {
    border: none;
    padding: 0px;
}

.clsTemplateImg img.active {
    border: none;
    box-shadow: 0px 0px 10px #0dba4b;
}

.clsRightContainer .clsTemplateImg img {
    width: 100%;    
}
.clsRightContainer .btn-success {
    background-color: #316441;
}
.clsRightContainer .clsDivButtons {
    display:flex;
    justify-content:space-between; 
    margin:20px 62px;
}
.navbar-expand-xl .navbar-brand .navbar-brand-item, .h-100px, ul.toc li.heading, .light-mode-item, .dark-mode-item, .back-top, a.demo, .home-intro-sub{background:#316441; color:#fff;}  ul.toc li.heading:hover{background:#316441;} .btn-grey-border{background:#316441; color:#fff; border:1px solid #316441;} .course-box{background:#316441;} .qa-content{padding:0px 0px 0px 0px!important;} a.demo{background:#316441!important;}


@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
}
@media (min-width: 768px){
   
}